.container:nth-child(1n+2) {
  margin-bottom: 5%;
}

/*----------------------- NAV -----------------------*/

.img-logo {
  width: 140px;
  height: 100px;
}
.outside_nav {
  border-bottom: 1px solid #ccc;
}

.nav {
  display: flex;
  margin-top: 2%;
}

.nav h1{
  display: flex;
  align-items: center;
  font-size: 2em;
}

.pointer{
  cursor: pointer;
}
.fa-plus-square-o {
  margin-right: 2%;
}
.submit {
  display: inline-block;
  width: 100%;
}

.search-posts {
  display: flex;
  flex-direction: column;
}

.dropdown-filter {
  margin-top: 1%;
}

/*----------------------- POST FORM -----------------------*/

.edit-form-div h3 {
  margin: 2%;
  margin-left: 0;
}

.mainForm {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.mainForm input[type=submit] {
  width: 10%;
}

/*----------------------- NG MESSAGES ERROR -----------------------*/

.has-error input {
  background-color: #FE938C;
}

.error{
  color:  #a94442;
}

/*----------------------- POST FEED -----------------------*/

.postBox {
  border: 1px solid #ccc;
  padding: 1%;
  margin-top: 2%;
}

.innerPostBottomNav {
  display: flex;
}

.innerPostBottomNav p {
  padding-right: 1%;
}

.innerPostBottomNav p:nth-child(1n+2) {
  padding-left: 1%;
}

.commentsP {
  margin-left: 3%;
}

.button {
  width: 7rem;
}

/*----------------------- COMMENT FEED -----------------------*/

.comment-form-div {
  margin-top: 1%;
}

.bottomNavFlex {
  display: flex;
  margin-top: 2%;
}

.bottomNavFlex p:nth-child(2) {
  padding-left: 1%;
}

.comment-button {
background-color: transparent;
border: none;
cursor: pointer;
color: #000;
margin-left: 0;
padding-left: 0;
}

.comment-button-edit {
  color: #f0ad4e;
}

.comment-button-delete {
  color: #d9534f;
}

/*----------------------- VOTES -----------------------*/

.votesNavFlex {
  display: flex;
}

.votesNavFlex h5:nth-child(1n+2) {
  padding-left: 1%;
}

/*----------------------- SEARCH ANNIMATION -----------------------*/

.fadePost {
  transition:all 1s linear;
  -webkit-transition: all 1s linear ;
}

.fadePost.ng-enter {
  opacity: 0;
}

.fadePost.ng-enter.ng-enter-active {
  opacity: 1;
}

.fadePost.ng-leave {
  opacity: 1;
}

.fadePost.ng-leave.ng-leave-active {
  opacity: 0;
}

/*----------------------- RESPONSIVE GENERAL -----------------------*/

@media screen and (max-width: 450px) {
  .nav h1 {
    font-size: 1.5rem;
  }
  .img-logo {
    margin-left: 1%;
    width: 80px;
    height: 60px;
  }
  .container {
    width: 100%;
  }
  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0 ;
  }
  .search-posts {
    border: 1px solid #ccc;
  }
  input[type="text"] {
    width: 100%;
    margin: 5px 0;
  }
  .dropdown-filter {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  h3 {
    margin: 5px 0;
  }
  .mainForm input[type=submit] {
    width: 100%;
  }
  .votesNavFlex h5 {
    margin: 0;
    font-size: 2rem;
  }
  .votesNavFlex h5:nth-child(1n+2) {
    padding-left: 7%;
  }
  .innerPostBottomNav {
    font-size: 12px;
  }
  .span_comments {
    display: none;
  }
  .postBox {
    padding: 2%;
  }

}
